@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: "DM Mono", monospace;
}

.card_list {
  display: flex;
  overflow-x: scroll;
  margin-top: 20px;
  margin-bottom: ;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
}

.card_list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card_list::-webkit-scrollbar-thumb {
  background-color: #201c29;
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 25),
    inset -2px -2px -2px rgba(0, 0, 0.25);
}

.card_list::-webkit-scrollbar-trak {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}
.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px, 1fr;
  align-items: center;
  margin: 3rem 0 0;
  direction: ltr;
}
.author-avatar img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  margin: 16px 0;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
